<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>送信完了</title>
</head>
<body>
    <p>パスワードの入力が完了しました．</p>
    <p><%= message %></p>
    <hr>
    <p>再度入力お願いします</p>
    <form action="/password" method="get">
        <h2>パスワード入力</h2>
        <input type="password" name="password" id="password" required><br><br>
        <input type="submit" value="送信">
    </form>
</body>
</html>